<a href="https://colab.research.google.com/github/khan5125/Improve_Skills/blob/main/Statistics%20for%20data%20Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Statistic***

# **Descreptive Statistic**
1. Measures of Central Tendency - Mean (average), Median and Mode
2. Measures of Variability - Range, Variance, Standard Deviation
3. Data Representation - Charts, graphs, tables, frequency distributions

**1. Measures of Central Tendency - Mean (average), Median and Mode**

In [ ]:
# Measures of Central Tendency - Mean (average), Median and Mode
import numpy as np
import pandas as pd
from scipy import stats

In [ ]:
# load titanic data from seaborn

import seaborn as sns

titanic = sns.load_dataset('titanic')

print(titanic.head())

print(titanic.describe())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True
         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [ ]:
# Mean
mean = np.mean(titanic['age'])
print("Mean:", mean)

# Another example
data = [10, 25, 30, 34, 45, 25, 75, 80, 90, 80, 40, 100, 35, 30, 25, 100]

mean = np.mean(data)
print("Mean:", mean)

Mean: 29.69911764705882
Mean: 51.5

In [ ]:
# Median

mdn = np.median(titanic['fare'])
print("Median:", mdn)

# Another example
mdn1 = np.median(data)
print("Median:", mdn1)

Median: 14.4542
Median: 37.5

In [ ]:
# Mode | only work with Statistic library and is not working with scipy library
from scipy import stats
import statistics


mode1 = statistics.mode(titanic['age'])
print("Mode:", mode1)

# Another example
data = [10, 25, 30, 34, 45, 25, 75, 80, 90, 80, 40, 100, 35 , 80, 30, 25, 100]
md = statistics.multimode(data)
print(md)

Mode: 29.69911764705882
[25, 80]

**2. Measures of Variability - Range, Variance, Standard Deviation**